.slideshowContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    height: 100%;
    width: 100%;
  }

  .mySlidesActive {
    display: block;
  }
  .mySlidesInactive {
    display: none;
  }
  
  .mySlidesOverlay {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    gap: 3.5vw;
  }
  
  .mySlidesOverlay * {
    margin: auto;
  }
  
  .mySlidesOverlay h1 {
    color: var(--text-color-light);
    font-size: 8vw;
  }
  
  .comStroke {
    -webkit-text-stroke-color: lightgray;
    -webkit-text-stroke-width: 1px;
  }
  
  .mySlidesOverlay p {
    color: var(--text-color-light);
    font-size: 4vw;
    line-height: 1.4;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  
  .mySlidesIcon {
    width: 10vw;
    height: 10vw;
    color: var(--text-color-light);
    position: relative;
    top: 10px;
  }
  
  .mySlidesLines {
    display: flex;
    flex-direction: row;
  }
  
  .mySlidesLine {
    background-color: var(--accent-color);
    height: 0.3vw;
    width: 9vw;
    margin-inline: 2vw;
  }
  
  .mySlidesLinesIcon {
    width: 3vw;
    height: 3vw;
    color: var(--accent-color);
  }
  
  @media only screen and (min-width: 600px) {
    .slideshowContainer {
      height: 80vw;
    }
    
    .mySlidesOverlay p {
      font-size: 3.1vw;
    }
    
    .mySlidesOverlay h1 {
      font-size: 5vw;
    }
  
    .mySlidesLines {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .link {
      font-size: 1.1rem;
      line-height: 2.6;
    }
    
    .slideshowContainer {
      height: 50vw;
    }
  
    .mySlidesOverlay p {
      font-size: 2vw;
    }
  
    .mySlidesOverlay h1 {
      font-size: 4vw;
    }
  
    .mySlidesOverlay {
      top: 5vw;
      gap: 4.2vw
    }
  }
  
  @media only screen and (min-width: 1150px) {
    .link {
      font-size: 1.3rem;
      line-height: 2.2;
    }
  }
  
  .slideImg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--text-color-light);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 4;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: var(--text-color-light);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    user-select: none;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .dots {
    text-align: center;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }