:root {
    --accent-color: #ffaa06;
    --text-color-light: white;
}



.slideshowContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .slides {
    display: none;
    height: 100%;
    width: 100%;
  }

  .slidesActive {
    display: block;
  }
  .slidesInactive {
    display: none;
  }
  
  .overlay {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    gap: 3.5vw;
  }
  
  .overlay * {
    margin: auto;
  }
  
  .overlay h1 {
    color: var(--text-color-light);
    font-size: 8vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .overlay p {
    color: var(--text-color-light);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 4vw;
    line-height: 1.4;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  
  .icon > * {
    width: 10vw;
    height: 10vw;
    color: var(--text-color-light);
    position: relative;
    top: 10px;
  }
  
  .lines {
    display: flex;
    flex-direction: row;
  }
  
  .line {
    background-color: var(--accent-color);
    height: 0.3vw;
    width: 9vw;
    margin-inline: 2vw;
  }
  
  .linesIcon {
    width: 3vw;
    height: 3vw;
    color: var(--accent-color);
  }
  
  @media only screen and (min-width: 600px) {
    .slideshowContainer {
      height: 80vw;
    }
    
    .overlay p {
      font-size: 3.1vw;
    }
    
    .overlay h1 {
      font-size: 5vw;
    }
  
    .lines {
      display: flex;
      flex-direction: row;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .link {
      font-size: 1.1rem;
      line-height: 2.6;
    }
    
    .slideshowContainer {
      height: 50vw;
    }
  
    .overlay p {
      font-size: 2vw;
    }
  
    .overlay h1 {
      font-size: 4vw;
    }
  
    .overlay {
      top: 5vw;
      gap: 4.2vw
    }
  }
  
  @media only screen and (min-width: 1150px) {
    .link {
      font-size: 1.3rem;
      line-height: 2.2;
    }
  }
  
  .img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--text-color-light);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 4;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: var(--text-color-light);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    user-select: none;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .dots {
    text-align: center;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    .dots {
      bottom: 10px;
      
    }

    .dot {
      height: 15px;
      width: 15px;
    }
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }