:root {
  --accent-color: #ffaa06;
  --text-color-light: white;
}



.slideshowContainer {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  height: 100%;
  width: 100%;
}

.slidesActive {
  display: block;
}
.slidesInactive {
  display: none;
}

.overlay {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 30%;
  gap: 3.5vw;
  padding-bottom: 2rem;
}

.overlay * {
  margin: auto;
}

.text, .title {
  text-align: center;
  color: var(--accent-color);
  height: 100%;
  width: 100%;
  padding: 1rem 2.5rem;
  line-height: 1.5;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .overlay {
    gap: 1rem;
  }
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 4;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #ffd68f;
}  

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #ffd68f;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
  user-select: none;
}

.active, .dot:hover {
  background-color: orange;
}

.dots {
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .dots {
    bottom: 10px;
    
  }

  .dot {
    height: 15px;
    width: 15px;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}