@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
  }
  
  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      scroll-behavior: smooth;
  }

  h1, h2 {
    font-weight: 800;
  }
  
  * {
    font-weight: 300;
  }
  
  h3, h4, h5, h6 {
    font-weight: 600;
  }
